# Server
PORT=3001

# MongoDB
MONGODB_URI=mongodb://127.0.0.1:27017/blockchain_licenses

# Blockchain
RPC_URL=http://127.0.0.1:8545
PRIVATE_KEY=your_private_key_here
CONTRACT_ADDRESS=your_deployed_contract_address_here

# JWT
JWT_SECRET=change_this_to_a_strong_random_string
